{% extends "layouts/master.html" %}

{% block title %}
Product | Index
{% endblock title %}

{% block content %}

<div class="container">
    <h1> This is product Index page</h1>
    <hr>
    <!--breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Products</li>
        </ol>
      </nav>
<a href="{% url 'product_add' %}" class="btn btn-secondary mb-2" >Add Product</a>


<!-- Content -->
<div class="card p-5">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>                  
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Book</td>
                <td>1000</td>
                <td>Reading and Writing</td>
                <td>50</td>
                <td>View</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Smartphone</td>
                <td>100000</td>
                <td>Electronics</td>
                <td>5</td>
                <td>View</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            
        </tbody>
    </table>
</div>
</div>
{% endblock content %}
