{% extends "layouts/master.html" %}

{% block title %}
Product | Add
{% endblock title %}

{% block content %}

<div class="container">
    <h1> This is product add page</h1>
    <hr>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'product_index' %}">Products</a></li>
            <li class="breadcrumb-item active">Add Product</li>
        </ol>
        </nav>

    <!-- Content -->
    <div class="col-3"></div>
        <div class="card p-5">
            <form action="{% url 'product_add' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ADD" class="btn btn-primary col-12">
            </form>
    </div>
</div> 

{% endblock content %}
