{% extends "layouts/master.html" %}

{% block title %}
Category | Add
{% endblock title %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></link>
{% endblock %}

{% block content %}

<div class="container">
    <h1> Categories </h1>
    <hr>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'product_add' %}">Add Product</a></li>
            <li class="breadcrumb-item"><a href="{% url 'product_index' %}">Product</a></li>
            <li class="breadcrumb-item active">Add Categories</li>
        </ol>
        </nav>

    <!-- Content -->
    <div class="col-3"></div>
        <div class="card p-5">
            <form action="{% url 'category_add' %}" method="post"><!-- POST method is more secure than GET method as it doesnt show the entered values
                                                and POST method doesnt run without csrk token while GET method even works without it-->
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ADD" class="btn btn-primary col-12">
            </form>
    </div>
</div> 

{% endblock content %}
