{% extends "layouts/master.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container">
<h1> 
    DASHBOARD
</h1>
<hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'product_add' %}">Add Product</a></li> <!--after url the name given in urls.py is used rather than the actual url-->
            <li class="breadcrumb-item"><a href="{% url 'product_index' %}">Products</a></li>
            <li class="breadcrumb-item"><a href="{% url 'category_add' %}">Categories</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
</div>
<div class="card p-5">
    <div class="row">
        <div class="col p-2 card">
            Products
            <hr><a class="'col p-2 card" href="{% url 'product_index' %}"> Products</a>
        </div>
        <div class="col p-2 card">
            Orders
        </div>
        <div class="col p-2 card">
            Category
            <hr><a class="'col p-2 card" href="{% url 'category_add' %}"> Add Category</a>
        </div>
        
    </div>
</div>

{% endblock %}